<style>
    #board-header {
        border-bottom: solid 1px #bbb;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 99;
    }
</style>
<section id="main-section" class="board-view noselect" style="width: auto;max-width: none;">
    <div id="board-header" class="row board">
        <div class="large-2 medium-4 small-12 columns stage-container" data-ng-repeat="s in board.stages">
            <div class="panel column-header">
                <h4>
                    {{ s.viewName }}
                    <span class="right"
                          style="text-transform: none">
                        <span>{{ board.counts[s.viewName] }}</span>
                    </span>
                </h4>
            </div>
        </div>
    </div>

    <section data-ng-repeat="group in groupLabels"
             style="width: auto; max-width: none;">
        <div class="row board"
             ng-click="showDetail(group.id)"
             style="border-bottom: solid 1px #bbb;padding: 10px; font-weight: bold" ng-show="board.grouped">
            <div ng-if="board.grouped=='user'">
                <div data-ng-show="group.avatar_url != undefined"
                     style="margin-right: 5px; display: inline-block; vertical-align: middle;">
                    <img style="border-radius: 50%; width: 20px; margin-left: 5px;"
                         alt="{{group.name}}"
                         data-ng-src="{{group.avatar_url}}"/>
                </div>
                <h5 style="margin: 0; display: inline-block; vertical-align: middle;">
                    {{ group.name }} <small ng-show="group.username">@{{ group.username }}</small>
                </h5>
            </div>
            <div ng-if="board.grouped=='priority'">
                <h5 style="margin: 0"
                    data-ng-style="{'background-color': (group.color | colorLuminance:0.2)}">
                    {{ group.viewName }}
                </h5>
            </div>
            <div ng-if="board.grouped=='milestone'" style="width: 100%;">
                <h5 class="left" style="margin: 0">
                    {{ group.title }}
                    <small ng-show="group.due_date">expired on {{ group.due_date }}</small>
                </h5>
            </div>
            <div ng-if="board.grouped=='project'" style="width: 100%;">
                <h5 style="margin: 0">
                    {{ group.path_with_namespace }}
                </h5>
            </div>
        </div>

        <div class="row board" ng-show="isShowDetail(group.id)">
            <div class="large-2 medium-4 small-12 columns stage-container"
                 ng-init="stageName = stage.viewName"
                 data-ng-repeat="stage in board.stages" style="min-height: 100px">
                <div class="stage">
                    <div data-as-sortable="dragControlListeners"
                         data-ng-init="groupModel = groups[group.id][stage.viewName] || []"
                         data-ng-model="groupModel"
                         class="board-stage">
                        <div class="row collapse card"
                             data-ng-repeat="card in groups[group.id][stage.viewName] track by card.id"
                             data-as-sortable-item>
                            <div data-as-sortable-item-handle class="row collapse"
                            style="padding: 10px"
                            data-ng-style="{'background-color': (card.priority.color | colorLuminance:0.2)}"
                            data-ng-attr-title="Priority: {{card.priority.viewName}}"
                            >
                                <div class="large-10 medium-10 small-10 columns">
                                    <h6>
                                        <a data-ui-sref="board.cards.view({
                                            project_id: state.params.project_id,
                                            project_path: state.params.project_path,
                                            path_with_namespace: card.path_with_namespace,
                                            issue_id: card.iid})"
                                           data-no-drag>
                                            <b>#{{card.iid}}</b> <span style="color: #777;">{{ card.path_with_namespace }}</span>
                                        </a>
                                    </h6>
                                    <h6>
                                        {{card.title}}
                                    </h6>
                                    <div class="row collapse">
                                    <span class="label" data-ng-repeat="label in card.viewLabels track by label.name"
                                          ng-style="{'background-color': label.color, 'color': (label.color|textColorForBg) }">
                                        {{label.name}}
                                    </span>
                                    </div>
                                </div>

                                <div class="large-2 medium-2 small-2 columns" style="position:initial;">
                                    <div data-ng-show="card.assignee != undefined">
                                    <span class="right" data-ng-show="card.assignee.avatar_url != undefined">
                                        <img style="border-radius: 50%; width: 32px;" alt="{{card.assignee.name}}" data-ng-src="{{card.assignee.avatar_url}}"/>
                                    </span>
                                    <span class="right avatar" data-ng-show="card.assignee.avatar_url == undefined">
                                        <span class="pseudo-avatar {{  card.assignee.username  | lowercase| limitTo : 1}}-ava">
                                            {{ card.assignee.username| lowercase| limitTo : 1}}
                                        </span>
                                    </span>
                                    </div>
                                    <div>
                                        <span data-ng-show="card.properties.andon=='ready'" class="fa fa-play card-andon ready"></span>
                                        <span data-ng-show="card.properties.andon=='blocked'" class="fa fa-pause card-andon blocked"></span>
                                    </div>
                                </div>
                                <div data-ng-show="card.user_comments_count || card.due_date"
                                     class="large-12 medium-12 columns"
                                     style="border-top: 1px solid #eee;
                                        font-size: 12px;
                                        margin-top: 10px; padding-top: 5px;">
                                    <span data-ng-show="card.user_comments_count">
                                        <i class="fa fa-comment-o"></i>&nbsp;{{ card.user_comments_count }}
                                    </span>
                                    <span style="padding-left: 5px;" data-ng-show="card.due_date">
                                        <i class="fa fa-calendar-o"></i>&nbsp;&nbsp;{{ card.due_date }}
                                    </span>
                                    <span style="padding-left: 5px;" data-ng-show="card.todo_metrics.quantity > 0">
                                         <i class="fa fa-check-circle-o"></i>&nbsp;&nbsp;{{ card.todo_metrics.checked }}&nbsp;of&nbsp;{{ card.todo_metrics.quantity }}
                                     </span>
                                </div>
                                <div data-ng-if="$parent.$parent.$last">
                                    <button class="button right small close" data-ng-click="remove(card)">
                                        <i class="fa fa-trash"></i>&nbsp;&nbsp;close
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <action-bar data-ng-if="board.state.showActionBar"></action-bar>
</section>
